body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.dashboard-container {
    display: flex;
}

.sidebar {
    background-color: #2c3e50;
    width: 250px;
    height: 100vh;
    padding: 20px;
    color: #ecf0f1;
    position: fixed;
}

.sidebar-header h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.sidebar-header p {
    font-size: 16px;
    color: #bdc3c7;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu li a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar-menu li a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

.logout {
    color: #e74c3c;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
}

.dashboard-header h1 {
    font-size: 28px;
}

.dashboard-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #3498db;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.card:nth-child(2) {
    background-color: #e74c3c;
}

.card:nth-child(3) {
    background-color: #f1c40f;
}

.card:nth-child(4) {
    background-color: #2ecc71;
}
