* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f9f4; /* Light green background */
    color: #333; /* Dark grey text for good readability */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #1b9466; /* Deep green background for agriculture #49ba72 */
    color: white;
}

header .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo-container .logo {
    height: 50px;
}

header .logo-container h1 {
    font-size: 28px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px; /* Fixed gap between search input and button */
    width: 40%; /* Adjust width to fit nicely on the right side */
}

.search-input {
    flex-grow: 1; /* Make the input field take up available space */
    padding: 10px 20px; /* Reduced padding for better alignment */
    border: none;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    background-color: #e3f2fd; /* Light blue for better contrast */
    color: #333; /* Dark grey text */
}

.search-btn {
    color: white; /* Text color */
    background-color: #FF9800; /* Orange color */
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn:hover {
    background-color: #FF9800; /* Keep the orange color on hover */
    transform: scale(1.05); /* Slight scaling effect on hover */
}

.search-btn i {
    color: white;
}

.search-btn:focus {
    outline: none;
}

/* Auth links */
.auth a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: #FF9800; /* Vibrant orange-yellow for buttons */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.auth a:hover {
    background-color: #2E7D32; /* Green on hover */
}

/* Navbar Styling */
.navbar {
    background-color: #28855f; /* Slightly darker green for navbar #1b9453*/
    padding: 15px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: inline-flex;
    gap: 40px;
}

.navbar ul li {
    font-size: 18px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #FF9800; /* Orange-yellow hover effect for links */
}

/* Hero Section */
.hero {
    padding: 40px 20px;
    background-color: #44bd92; /* #44bd92 Green background */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    margin-bottom: 40px;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero-text p {
    font-size: 22px;
    margin-bottom: 20px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-image {
    flex: 1;
    position: relative;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px; /* Space between video and text */
}

.hero-image video {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.hero-info {
    flex: 1;
    padding-left: 30px;
    text-align: left;
    align-items: center;
}

.hero-info h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-info p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-info ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-info ul li {
    list-style-type: circle;
    margin-bottom: 10px;
    margin-left: 10px;
}

.hero-info .btn {
    background-color: #FF9800; /* Orange button */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 150px;
    transition: background-color 0.3s ease;
}

.hero-info .btn:hover {
    background-color: #2E7D32; /* Green on hover */
}

/* Featured Equipment Section */
.featured-equipment-section {
    background-color: #e3f2fd;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-equipment-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #388E3C; /* Dark green header */
}

.featured-equipment-section p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555; /* Light grey text */
}

.equipment-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.equipment-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 22%;
    text-align: center;
}

.equipment-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.equipment-card h3 {
    margin-top: 15px;
    font-size: 22px;
    color: #388E3C; /* Green text for equipment titles */
}

.equipment-card p {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
}

.equipment-card .btn {
    background-color: #FF9800; /* Orange for button */
    color: #2E7D32;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.equipment-card .btn:hover {
    background-color: #388E3C; /* Green on hover */
}

/* Benefits Section */
.benefits-section {
    background-color: #e3f2fd; /* Light blue background */
    padding: 40px;
    text-align: center;
}

.benefits-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #000; /* Dark green header */
}

.benefits {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.benefit-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.benefit-card h3 {
    font-size: 24px;
    color: #388E3C; /* Green for headings */
    margin-bottom: 15px;
}

.benefit-card p {
    font-size: 16px;
    color: #555;
}

/* Call to Action Section */
.cta-section {
    background-color: #44bd92; /* Dark green */
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.cta-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-section .btn {
    background-color: #FF9800; /* Orange for CTA button */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-section .btn:hover {
    background-color: #388E3C; /* Green on hover */
}

/* Footer Section */
footer {
    background-color: #1b9453; /* Same green as header */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

footer p {
    margin: 0;
}


/* Media Queries */
@media (max-width: 768px) {
    .search-bar {
        width: 80%;
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
    }
}